.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.logo {
  font-weight: bold;
  font-size: 24px;
  color: #5cb85c;
}

.links {
  &__item {
    color: #aeaeae;
    cursor: pointer;
    margin-left: 5px;

    &--active {
      color: #151515;
    }
  }
}
